<nav>
    <div class="navbar navbar-dark bg-primary shadow-sm"></div>
    <div class="navbar">
            <img src="../assets/images/flipkart logo.png" alt="Flipkart" width="50" height="20">
    
    </div>
    <div class="nav-center">
      <form>
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </div>
    <button class="byn btn-primary">
      <i style="font-size: 30px;" routerLink="/cart"class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">0</div>
     </button>           
      
      <a href="#" class="login-btn"><strong>Login</strong></a>
  </nav>
