nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    background-color: hwb(251 25% 4%);
  }
  
  .nav-left {
    flex: 1;
  }
  
  .nav-center {
    flex: 3;
  }
  
  .nav-right {
    flex: 1;
    text-align: right;
  }
  
  form {
    display: flex;
  }
  
  input[type=text] {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    width: 100%;
    
  }
  
  button[type=submit] {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    flex: 1;
    margin: 10px;
  }
  
  .product {
    text-align: center;
  }
  
  .product img {
    width: 100%;
  }
  
  .product h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product p {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
  }
  
  .button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
  }
  
  